body .button {
  display: block;
  padding: 0 30px;
  padding-block: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  color: var(--color-header-background);
  background-color: var(--color-accent);
  transition: background-color 200ms ease-in-out;
}
body .button:hover,
body .button:focus-visible {
  background-color: color-mix(in srgb, var(--color-accent) 65%, var(--color-text-primary));
}
body .button:active {
  background-color: color-mix(in srgb, var(--color-accent) 60%, var(--color-text-primary));
}
body .button_outline {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background: transparent;
}
body .button_outline:hover {
  color: var(--color-header-background);
}

