.pagination {
  display: flex;
  column-gap: 5px;
  justify-content: center;
}
.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: initial;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid var(--color-border-primary);
  background-color: #fff;
  transition: all 0.3s;
}
.pagination__item:hover,
.pagination__item_active {
  color: #fff;
  border-color: var(--color-accent);
  background-color: var(--color-accent);
  pointer-events: none;
}