.row-catalog {
  margin: 0 -10px;
  margin-bottom: -20px;
  display: flex;
  flex-wrap: wrap;
}
.col-catalog {
  width: 25%;
  margin-bottom: 20px;
  padding: 0 10px;
}
.item-catalog {
  font-size: 13px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100%;
  background: #fff;
  position: relative;
}
.item-catalog a {
  color: inherit;
  border: none;
}
.item-catalog__image {
  height: 263px;
  display: block;
  width: 100%;
}
.item-catalog__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.item-catalog__brand {
  max-width: 75px;
  top: 10px;
  right: 10px;
  opacity: .85;
  background-color: rgba(236, 236, 236, .67);
  padding: 5px;
  position: absolute;
}
.item-catalog__brand img {
  max-width: 100%;
  max-height: 100%;
}
.labels-wrap {
  top: 10px;
  left: -5px;
  z-index: 2;
  position: absolute;
}
.item-label {
  height: 27px;
  width: 90px;
  letter-spacing: 1px;
  background-color: #c33c18;
  font-size: 9px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-label_sale {
  font-size: 12px;
}
.item-label_hit {
  background-color: #f08800;
}
.item-label_new {
  background-color: #0a5fb7;
}
.item-catalog__content {
  padding: 15px;
  width: 100%;
  display: block;
}
.item-catalog__title {
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
  display: block;
}
.item-catalog__title:hover {
  color: var(--color-accent);
}
.item-catalog__features {
  margin-bottom: 10px;
}
.item-catalog .price-main {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin: 0;
}
.price-main {
  font-weight: 600;
}
.price-old {
  font-size: 12px;
  color: #aaa;
}
.item-catalog__info {
  gap: 15px;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 15px;
  padding-top: 0;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
  z-index: 3;
}
.item-catalog:hover .item-catalog__info {
  display: flex;
}
.item-catalog__info .button {
  width: 100%;
  color: #fff;
}
.link-card {
  margin: 0 10px;
  gap: 10px;
  line-height: 1;
  display: flex;
  align-items: center;
}
.link-card.active {
  color: var(--color-accent);
}
.link-card.active i {
  font-weight: 700;
}
.link-card.active .icon-compare i {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
.link-card span {
  border-bottom: 1px solid;
  transition: all 0.3s;
}
.link-card:hover span {
  border-color: transparent;
}
.link-card:hover {
  color: #f0a400;
}
.icon-compare {
  width: 15px;
  height: 15px;
}
.icon-compare i {
  display: inline-block;
  width: 3px;
  border: 1px solid #656565;
  margin-right: 1px;
  transition: .2s ease-in-out;
  transition: all 0.3s;
}
.icon-compare i:nth-child(1) {
  height: 8px;
}
.icon-compare i:nth-child(2) {
  height: 13px;
}
.icon-compare i:nth-child(3) {
  height: 11px;
}
.link-card:hover .icon-compare i {
  border-color: var(--color-accent);
}
.item-label.item-label_gift {
  font-size: 13px;
  padding: 2px 7px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  background: #f42c2c;
}
.item-label.item-label_perc {
  width: 40px;
  height: 40px;
  font-size: 13px;
  letter-spacing: normal;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f42c2c;
}
.item-catalog.item-catalog_simple {
  box-shadow: none;
  background: transparent;
}
.item-catalog_simple .item-catalog__image img {
  width: 100%;
  height: auto;
  object-fit: initial;
}
.item-catalog_simple .item-catalog__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-bottom {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.line-product__prices .price-main,
.modal-prices .price-main {
  font-size: 16px;
  text-align: left;
  margin: 0;
}
.modal-content_calculation {
  width: 500px;
  padding: 30px;
}
.modal-content_calculation * {
  transition: initial !important;
}
.line-product {
  gap: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
}
.line-product__image {
  width: 100px;
  height: 100px;
  border: solid 1px #e5e5e5;
  border-radius: 6px;
  display: block;
  flex: none;
}
.line-product__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  border-radius: 6px;
}
.modal-content .product-actions {
  padding: 20px 0;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.line-product__title {
  color: #000;
  color: #212529;
  display: block;
}
.line-product__prices {
  margin-top: auto;
}
.line-product__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tab-pane-quantity {
  display: none;
}
.tab-pane-quantity:first-child {
  display: block;
}
.product-actions {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs-quantity {
  gap: 10px;
  display: flex;
  align-items: center;
}
.btn-tab-quantity {
  width: 38px;
  height: 38px;
  border: 1px solid #aaa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-tab-quantity:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
}
.btn-tab-quantity.active {
  background: var(--color-accent);
  border-color: var(--color-accent);
  color: #fff;
}
.btn-tab-quantity sup {
  font-size: 8px;
  line-height: 0;
}
.product-buttons {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-product {
  gap: 6px;
  color: #80828c;
  display: inline-flex;
  border: none;
  align-items: center;
}
.link-product span {
  border-bottom: 1px solid #80828c;
  transition: all 0.3s;
}
.link-product:hover span {
  border-color: transparent;
}
.product-buttons .button {
  min-width: 180px;
}

@media only screen and (max-width : 1200px) {
  .link-card {
    margin: 0 3px;
  }
  .item-catalog__image {
    height: 215px;
  }
}

@media only screen and (max-width : 992px) {
  .col-catalog {
    width: 33.3333%;
  }
  .item-catalog__info {
    border-top: 1px solid #dbdbdb;
    visibility: visible;
    opacity: 1;
    gap: 0;
    display: flex;
    position: relative;
    top: 0;
    padding: 0;
  }
  .link-card span {
    display: none;
  }
  .link-card {
    height: 46px;
    border-right: 1px solid #dbdbdb;
    gap: 0;
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link-card i {
    font-size: 20px;
  }
  .link-card:last-child {
    border: none;
  }
  .item-catalog__info .button {
    height: 46px;
    flex: 1;
    padding: 0;
    width: auto;
    border-radius: 0;
    font-size: 0;
    background-image: url(../../img/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  .catalog_btns .compare-icon i {
    width: 5px;
    margin-right: 2px;
    display: inline-block;
    border: 1px solid #656565;
    transition: .2s ease-in-out;
  }
  .icon-compare i {
    width: 5px;
    margin-right: 2px;
    display: inline-block;
    border: 1px solid #656565;
    transition: .2s ease-in-out;
}
.icon-compare i:nth-child(1) {
      height: 15px;
  }
  .icon-compare i:nth-child(2) {
      height: 20px;
  }
  .icon-compare i:nth-child(3) {
      height: 18px;
  }
  .icon-compare {
    width: 25px;
    height: 22px;
  }
  .item-catalog__prices .price-main,
  .item-catalog__prices .price-old {
    display: inline;
  }
}

@media only screen and (max-width : 768px) {
  .col-catalog {
    width: 100%;
  }
  .item-catalog__brand {
    display: none;
  }
  .item-catalog__image {
    height: 120px;
    width: 45%;
    top: 0;
    left: 0;
    position: absolute;
  }
  .item-catalog__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .item-catalog__title {
    font-size: 12px;
    font-weight: 700;
    margin-left: 50%;
    width: auto;
    order: -2;
  }
  .item-catalog__prices {
    margin-left: 50%;
    order: -1;
  }
  .item-catalog__features {
    margin-top: 50px;
  }
  .item-catalog_collection .item-catalog__image {
    padding-top: 100%;
    height: auto;
    position: relative;
    width: 100%;
  }
  .item-catalog_collection .item-catalog__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .item-catalog_collection .item-catalog__title {
    margin-left: 0;
  }
  .item-catalog_collection .item-catalog__prices {
    margin: 0;
    margin-top: 8px;
    order: initial;
  }
  .item-catalog_simple .item-catalog__image {
    height: 263px;
    width: 100%;
    position: relative;
  }
  .item-catalog_simple .item-catalog__prices,
  .item-catalog_simple .item-catalog__title {
    margin-left: 0;
  }
  .modal-content_calculation {
    padding: 30px 15px;
  }
}