.slider-catalog-main,
.slider-catalog {
  padding-top: 30px;
}
.slider-catalog-main:not(.slick-initialized) > *:not(:first-child),
.slider-catalog:not(.slick-initialized) > *:not(:first-child) {
  display: none;
}
.slider-catalog-main .slick-track,
.slider-catalog .slick-track {
  display: flex !important;
}
.slider-catalog-main .slick-slide,
.slider-catalog .slick-slide {
  padding: 10px;
  height: inherit !important;
}
.slider-catalog-main .slick-list,
.slider-catalog .slick-list {
  padding-bottom: 85px;
  margin: -10px;
  margin-bottom: -85px;
}
.slider-catalog-main .slick-arrow,
.slider-catalog .slick-arrow {
  width: 20px;
  height: 20px;
  bottom: 100%;
  right: 0;
  left: auto;
  top: auto;
  transform: none;
  font-size: 24px !important;
  position: absolute;
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-catalog-main .slick-arrow::before,
.slider-catalog .slick-arrow::before {
  display: none;
}
.slider-catalog-main .slick-prev,
.slider-catalog .slick-prev {
  right: 40px;
}
.slider-catalog-main .slick-arrow.slick-disabled,
.slider-catalog .slick-arrow.slick-disabled {
  opacity: 0.3;
}